.container {
   display: grid;
   grid-template-columns: auto auto;
   background-color: white;
   margin-left: 0;
}

.chart,
.chart .yLabels {
   border: solid 1px;
   border-color: gray;
   margin: 10px;
}

.chart .chartTitle {
   font: 18px sans-serif;
   fill: gray;
}

.chart .bar {
   fill: black;
   opacity: 1;   
}

.chart .selected, 
.chart .selected text{
   fill: blue;
   font-weight: bold;
   font-style: italic;
   opacity: 1;   
}

.chart .unfiltered {
   fill: orange;
   opacity: 1;   
}

.chart .excluded {
   fill: gray;
   opacity: 1;   
}

.chart text {
   font: 14px sans-serif;
   fill: gray;
   text-anchor: end;
}

.axis {
   fill: none;
}

.axis text {
   fill: light-gray;
   stroke: light-gray;
   stroke-width: 0.25;
}

.chart line {
   stroke: gray;
   stroke-width: 1;
   stroke-opacity:0.3;
}

#thumbnail {
    width: 200px;
    height: auto;
    margin: 0 auto;
    color: #787777;
    text-align: center;
}