.navbar {
   border: 1px solid gray;
   padding: 5px;
   box-shadow: 2px 5px gray;
   background-color: orange;
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar-option a {
   font-family: Courier bold;
   font-size: 20px;
   color: black;
   font-weight: bold;
   float: left;
   display: block;
   text-align: center;
   padding: 14px;
   text-decoration: none;
}

.navbar .cart {
   float: right;
   padding-right: 14px;
}

.cart-contents {
   padding-right: 14px;
   
}

.main-view {
   margin-top: 20px; /* Add a top margin to avoid content overlay */
} 

.review {
	rows: 10;
	columns: 50;
}

.home {
   height: 500px;
   width: 800px;
 /*  background-image: url("../img/home/shop.png"); */
   background-repeat: no-repeat;
   background-size: cover;
}

.banner {
   text-align: center;
   font-family: Arial;
   font-size: 5em;
   font-style: italic;
   color: green;
}

.container {
   margin: 5px;
   display: grid;
   grid-template-columns: auto auto auto;
   background-color: tan;
   padding: 0px;
}
.thumbnail {
   border: 1px solid black;
   margin: 5px;
   padding: 10px;
}

.xAxisSelect {
   margin-top: 100px;
}

.radioButton {
   text-transform: capitalize;
    font-weight: bold;
}
