.navbar {
   margin: 5px;
   border: 1px solid gray;
   padding: 5px;
   box-shadow: 2px 5px gray;
   background-color: lightgray;
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 95%; 
}

/* Links inside the navbar */
.navbar-option a {
   font-family: Courier bold;
   font-size: 20px;
   color: black;
   font-weight: bold;
   float: left;
   display: block;
   text-align: center;
   padding: 10px;
   text-decoration: none;
}

.main-view {
   margin-top: 0px; /* Add a top margin to avoid content overlay */
} 

.chartControlsContainer {
   display: grid;
   grid-template-columns: 300px 200px;
   margin: 75px 0px 5px 10px;
   background-color: white;
   align-content: center;      
}

.xAxisSelect{
   width: 250px;
   height: 30px;
   padding: 15px 15px 20px 15px;
   border: solid 1px;
   border-color: gray;
   background-color: #F0F0F0;
   align-content: center;   
}

button {
   padding: 7px;
   background-color: tan;   
}

.radioButton, button, .filterBox {
   text-transform: capitalize;
   font-weight: bold;
}

.filterContainer {
   display: grid;
   grid-template-columns: repeat(4, 100px);
   grid-template-rows: repeat(2, 10px);
}

.filterBox {
   display: grid;
   grid-template-columns:auto;
   grid-template-rows: repeat(2, auto);   
   text-align: center;
   text-transform: capitalize;
   font-weight: bold;
   font-style: normal;
   margin-top: 0px;
   padding: 6px;
   border: solid 1px;
   border-color: gray;
   background-color: #F0F0F0;   
}

.filterBar {
   color: white;
   font-weight: bold;
   border-color: black;
   background-color: black;   
}

.filterSelected {
   font-style: italic;
   border-color: blue;   
   background-color: blue;   
}