.chart {
   border: solid 1px;
   border-color: gray;
   margin: 30px;
}

.chart .chartTitle {
   font: 18px sans-serif;
   fill: gray;
}

.chart rect {
   fill: black;
   opacity: 1;   
}

.chart rect .excluded {
   fill: gray;
}

.chart text {
   font: 14px sans-serif;
   fill: gray;
   text-anchor: end;
}

.axis {
   fill: none;
}

.axis text {
   fill: light-gray;
   stroke: light-gray;
   stroke-width: 0.25;
}

.chart line {
   stroke: gray;
   stroke-width: 1;
   stroke-opacity:0.3;
}
